body {
    margin: 0;
}

/* FIST SECTION */
.flexible {
    display: flex;
    margin: 0 20px;
    margin-top: 70px;
    margin-bottom: 60px;
}

.half-width {
    width: 50%;
    padding-right: 100px;
    padding-left: 100px;
}

.half-width img {
    width: 85%;
    margin-top: -70px;
}



/* SECOND SECTION */
.flex-three {
    display: flex;
    margin-left: 120px;
    margin-right: 120px;
    margin-bottom: 75px;
}

.third-width {
    width: 28%;
    padding-left: 28px;
    padding-right: 15px;
    padding-bottom: 40px;
    margin: 0 12px;
    border-radius: 22px;
}

.third-width img {
    width: 45%;
    margin-top: 20px;
    margin-bottom: -20px;
}



/* Heading Design */
h1 {
    font-size: 55px;
}

#focused {
    margin-bottom: -38px;
    padding-left: 10px;
}

#mission-2022 {
    margin-bottom: 0px;
    padding-left: 10px;
}

.left-border {
    border-left: 5px solid rgb(241, 116, 102);
    border-radius: 5px;
}

h2 {
    font-size: 40PX;
    font-family: sans-serif;
    font-weight: 900;
    text-align: center;
}

h4 {
    font-size: 22px;
    margin-bottom: -22px;
}




/* PARAGRAPH DESIGN */
.big-paragraph {
    font-size: 18px;
    margin-bottom: 30px;
}

.small-paragraph {
    font-size: 15px;
    margin-top: 40px;
}



/* BUTTON */
.button {
    text-decoration: none;
    color: white;
    background-color: rgb(241, 116, 102);
    font-size: 14px;
    font-weight: 900;
    padding: 10px 26px;
    border-radius: 5px;
}



/* COLOR */
.orange {
    color: rgb(241, 161, 13);
}

.navy-blue {
    color: rgb(13, 13, 63);
}

#gray {
    background-color: rgba(234, 213, 213, 0.53);
}

#salmon {
    background-color: rgba(180, 216, 169, 0.502);
}

#cyan {
    background-color: rgba(174, 195, 234, 0.548);
}